body {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    display: grid;
    grid-template-columns: 0.15fr 0.7fr 0.15fr;
    grid-template-areas: 
    ". container0 ."
    ". newRequest ."
    ;
    justify-items: center;
    align-items: center;
    background-color: rgb(222, 228, 233);
}

#container0 {
    grid-area: container0;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

#header0 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(6, 8, 10);
}

#inputDiv0 {
    height: 20rem;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 0.1fr 0.033fr 0.1fr 0.033fr 0.1fr 0.033fr 0.1fr;
    grid-template-areas: 
    "addDiv1"
    "."
    "addDiv2"
    "."
    "addDiv3"
    "."
    "buttonDiv"
    ;
}
#addDiv1 {
    grid-area: addDiv1;
}
#addDiv2 {
    grid-area: addDiv2;
}
#addDiv3 {
    grid-area: addDiv3;
}

.add {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    align-items: center;
}
.iconsDiv {
    text-align: center;
    vertical-align: middle;
    border: 4px solid rgb(126, 120, 123);
    box-sizing: border-box;
    transition: all 1s;
}

.icons {
    box-sizing: border-box;
    font-size: 200%;
    display: inline-block;
    color: rgb(77, 65, 65);
    background-color: transparent;
    transition: all 1s;
}

.inputsDiv {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.inputs {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    outline: none;
    border: 4px solid rgb(126, 120, 123);
    background-color: whitesmoke;
}

#buttonDiv  {
    box-sizing: border-box;
    border: 4px solid gray;
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0.3;
    transition: 0.5s;
    grid-area: buttonDiv;
}

#newRequest {
    grid-area: newRequest;
    position: relative;
    bottom: 5rem;
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 5rem;
    grid-auto-flow: row;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 5rem;
}
.objects {
    width: 100%;
    height: 18rem;
    background: rgb(230, 219, 238);
background: linear-gradient(270deg, rgb(58, 67, 73),rgb(207, 228, 209));  
    display: grid;
    justify-items: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 2rem;
}
.objectDiv {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    
}
.objectHeader {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    color: white;
    font-size: 1rem;
    box-shadow: 0 0 8px 5px rgb(58, 67, 73);
    background-color:rgb(58, 67, 73);
}
.objectValue {
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 8px 5px rgb(207, 228, 209);
    background-color: rgb(207, 228, 209);
    color: black;
}