body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 10vh 90vh 120vh auto;
    overflow-x: hidden;
    grid-template-areas:
    "container1"
    "container2"
    "container3"
    "container4"
    ;
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script', cursive;
}

a,h1,button,p,i {
    display: inline-block;
}

a {
    color: coral;
    text-decoration: none;
    font-size: 2rem;
}

a:visited {
    color: coral;
}

a:hover {
    color: crimson;
    font-size: 2.1rem;
}

a:active {
    color: rgb(255, 0, 51);
    font-size: 2.1rem;
    font-weight: bold;
}
/* #region Start of container1*/
#container1 {
    grid-area: container1;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "icon1 links phone basket"
    ;
}

#icon1 {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 5vw;
    color: coral;
}

#links {
    width: 70%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

#phone {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
    color: coral;
    grid-gap: 1vw;
}

#icon2 {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

#icon2Transform {
    display: grid;
    align-items: center;
    justify-items: flex-end;
}

#number {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

#phoneNumber {
    font-size: 2.8vh;
    display: grid;
    justify-items: flex-start;
}

#basket {
    width: 60%;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
    color: coral;
    border: 1.5px solid black;
    border-radius: 10px;
    grid-gap: 1vw;
}

#icon3 {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: flex-end;
}

#icon3Transform {
    display: grid;
    align-items: center;
    justify-items: flex-end;
}

#items {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: flex-start;
    align-items: center;
}
/* #endregion End of first container */

/* #region Start of container2 */

#container2 {
    grid-area: container2;
    background: linear-gradient(rgba(49, 49, 49, 0.5), rgba(102, 100, 100, 0.5)), url(./Images/MainBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#welcomeContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    width: 50%;
    height: 50%;
}

#headerSpan1 {
    color: rgb(255, 0, 0);
    display: grid;
    align-items: flex-end;
    justify-items: center;
    width: 100%;
    height: 100%;
    font-size: 4vh;
}
#header1 {
    text-align: center;
}

#turkish {
    color: white;
}

#explore {
    display: grid;
    width: 100%;
    justify-items: center;
}

#aSpan1 {
    color: black;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    display: grid;
    justify-items: center;
}


#a1 {
    display: grid;
    background-color: rgb(255, 68, 0);
    border: 1px solid black;
    color: black;
    outline: none;
    border-radius: 10px;
    width: 26.5%;
    height: 40%;
    align-items: center;
    justify-items: center;
}

/* #endregion Start of second container */

/* #region Start of container3*/

#container3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "aboutLeft aboutRight"
    ;
}

#aboutLeft {
    display: grid;
    grid-area: aboutLeft;
    grid-template-rows: 1.5fr 1fr 3fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    ". headerSpan2 headerSpan2"
    ". pSpan1 pSpan1"
    ". aSpan2 ."
    ;
}

#headerSpan2 {
    display: grid;
    grid-area: headerSpan2;
    align-items: flex-end;
    font-size: 2rem;
}

#us {
    color: crimson;
}

#pSpan1 {
    display: grid;
    grid-area: pSpan1;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
}

#aSpan2 {
    display: grid;
    grid-area: aSpan2;
    justify-items: flex-start;
    align-items: flex-start;
}

#a2 {
    display: grid;
    background-color: rgb(255, 68, 0);
    border: 1px solid black;
    color: black;
    outline: none;
    border-radius: 10px;
    width: 70%;
    height: 10%;
    align-items: center;
    justify-items: center;
}


#aboutRight {
    display: grid;
    grid-area: aboutRight;
    grid-template-rows: 0.7fr 1.6fr 2fr;
    grid-template-areas: 
    ". . "
    "imgSpan1 ."
    ". ."
    ;
}

#imgSpan1 {
    grid-area: imgSpan1;
    margin-left: 3vw;
    width: 80%;
}

#imgBorder {
    width: 100%;
    height: 100%;
    border: 7px solid rgb(255, 68, 0);
}

#img1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: translate(3rem, 3rem);
    transition: 1s;
}

#img1:hover {
    transform: none;
}

/* #endregion End of container3*/

/* #region Start of container4 */

#container4 {
    display: grid;
    grid-area: container4;
    background-color: rgb(201, 192, 192);
    grid-template-rows: 0.15fr 1fr;
    grid-template-areas: 
    "ourStore"
    "productPics"
    ;
    justify-items: center;
    grid-gap: 5vh;
}

#ourStore {
    display: grid;
    grid-area: ourStore;
    width: 100%;
    height: 100%;
    justify-items: center;
    grid-template-rows: 0.25fr 0.3fr;
    grid-template-areas: 
    "headerSpan3"
    "allButtons"
    ;
}

#headerSpan3 {
    display: grid;
    grid-area: headerSpan3;
    align-items: flex-end;
    height: 100%;
}

#allButtons {
    display: grid;
    grid-area: allButtons;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.25fr 0.1fr;
    grid-template-areas: 
    "a3Span a4Span a5Span a6Span"
    ". inputSpan1 inputSpan1 ."
    ;
    justify-items: center;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    grid-gap: 5vh;
}

.productButtons {
    height: 120%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.btnLastSpan {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}

.btnLast {
    height: 100%;
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-family: 'Dancing Script', cursive;
    padding: 0.5rem 1.5rem;
    outline: none;
    cursor: pointer;
}

.btnLast:hover {
    background-color: black;
    color: pink;
}

.btnLast:active, .btnLast1:focus {
    background-color: black;
    color: red;
}

#a3Span {
    grid-area: a3Span;
}
#a4Span {
    grid-area: a4Span;
}
#a5Span {
    grid-area: a5Span;
}
#a6Span {
    grid-area: a6Span;
}

#inputSpan1 {
    margin-top: 1.5vh;
    display: grid;
    grid-area: inputSpan1;
    justify-items: center;
    align-items: flex-start;
    outline: none;
    width: 100%;
    height: 100%;
}

#input1 {
    border: 1px solid black;
}

input:focus,
button:focus,
input:hover,
button:hover,
input {
    outline: none;
    border: none;
}

#input1 {
    width: 50%;
    height: 100%;
}


#productPics {
    display: grid;
    grid-area: productPics;
    width: 80%;
    height: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vh;
}

.product {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
    "imgProduct"
    "itemNames"
    ;
}

.imgProduct {
    grid-area: imgProduct;
}

.itemNames {
    grid-area: itemNames;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nameSpan priceSpan"
    ;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.nameSpan {
    display: grid;
    grid-area: nameSpan;
    justify-items: flex-start;
    margin-left: 2vh;
}

.priceSpan {
    display: grid;
    grid-area: priceSpan;
    justify-items: flex-end;
    margin-right: 2vh;
}



#productPics img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* #endregion Start of container4 */