body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 10vh 90vh 120vh auto;
    overflow-x: hidden;
    grid-template-areas:
    "container1"
    "container2"
    "container3"
    "container4"
    ;
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script', cursive;
    background-color: gray;
    justify-items: center;
    align-items: center;
}

a,h1,button,p,i {
    display: inline-block;
}

a {
    color: coral;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.5s;
}

a:visited {
    color: coral;
}

a:hover {
    color: crimson;
    font-size: 2.1rem;
    transition: 0.5s;

}

a:active, a:focus {
    color: rgb(255, 0, 51);
    font-size: 2.3rem;
}

/* #region Start of container1*/
#container1 {
    grid-area: container1;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "icon1 links phone basket"
    ;
}

#icon1 {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 5vw;
    color: coral;
}

#links {
    width: 70%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

#phone {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
    color: coral;
    grid-gap: 1vw;
}

#icon2 {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

#icon2Transform {
    display: grid;
    align-items: center;
    justify-items: flex-end;
}

#number {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

#phoneNumber {
    font-size: 2.8vh;
    display: grid;
    justify-items: flex-start;
}

#basket {
    width: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
    color: coral;
    border: 1.5px solid black;
    border-radius: 10px;
    grid-gap: 1vw;
    z-index: 1;
    background-color: white;
    cursor: pointer;
}

@keyframes basketAnimation {
    0% {
        bottom: 100%;
    }
    1% {
        bottom: 99%;
    }
    2% {
        bottom: 98%;
    }
    3% {
        bottom: 97%;
    }
    4% {
        bottom: 96%;
    }
    5% {
        bottom: 95%;
    }
    6% {
        bottom: 94%;
    }
    7% {
        bottom: 93%;
    }
    8% {
        bottom: 92%;
    }
    9% {
        bottom: 91%;
    }
    10% {
        bottom: 90%;
    }
    11% {
        bottom: 89%;
    }
    12% {
        bottom: 88%;
    }
    13% {
        bottom: 87%;
    }
    14% {
        bottom: 86%;
    }
    15% {
        bottom: 85%;
    }
    16% {
        bottom: 84%;
    }
    17% {
        bottom: 83%;
    }
    18% {
        bottom: 82%;
    }
    19% {
        bottom: 81%;
    }
    20% {
        bottom: 80%;
    }
    21% {
        bottom: 79%;
    }
    22% {
        bottom: 78%;
    }
    23% {
        bottom: 77%;
    }
    24% {
        bottom: 76%;
    }
    25% {
        bottom: 75%;
    }
    26% {
        bottom: 74%;
    }
    27% {
        bottom: 73%;
    }
    28% {
        bottom: 72%;
    }
    29% {
        bottom: 71%;
    }
    30% {
        bottom: 70%;
    }
    31% {
        bottom: 69%;
    }
    32% {
        bottom: 68%;
    }
    33% {
        bottom: 67%;
    }
    34% {
        bottom: 66%;
    }
    35% {
        bottom: 65%;
    }
    36% {
        bottom: 64%;
    }
    37% {
        bottom: 63%;
    }
    38% {
        bottom: 62%;
    }
    39% {
        bottom: 61%;
    }
    40% {
        bottom: 60%;
    }
    41% {
        bottom: 59%;
    }
    42% {
        bottom: 58%;
    }
    43% {
        bottom: 57%;
    }
    44% {
        bottom: 56%;
    }
    45% {
        bottom: 55%;
    }
    46% {
        bottom: 54%;
    }
    47% {
        bottom: 53%;
    }
    48% {
        bottom: 52%;
    }
    49% {
        bottom: 51%;
    }
    50% {
        bottom: 50%;
    }
    51% {
        bottom: 49%;
    }
    52% {
        bottom: 48%;
    }
    53% {
        bottom: 47%;
    }
    54% {
        bottom: 46%;
    }
    55% {
        bottom: 45%;
    }
    56% {
        bottom: 44%;
    }
    57% {
        bottom: 43%;
    }
    58% {
        bottom: 42%;
    }
    59% {
        bottom: 41%;
    }
    60% {
        bottom: 40%;
    }
    61% {
        bottom: 39%;
    }
    62% {
        bottom: 38%;
    }
    63% {
        bottom: 37%;
    }
    64% {
        bottom: 36%;
    }
    65% {
        bottom: 35%;
    }
    66% {
        bottom: 34%;
    }
    67% {
        bottom: 33%;
    }
    68% {
        bottom: 32%;
    }
    69% {
        bottom: 31%;
    }
    70% {
        bottom: 30%;
    }
    71% {
        bottom: 29%;
    }
    72% {
        bottom: 28%;
    }
    73% {
        bottom: 27%;
    }
    74% {
        bottom: 26%;
    }
    75% {
        bottom: 25%;
    }
    76% {
        bottom: 24%;
    }
    77% {
        bottom: 23%;
    }
    78% {
        bottom: 22%;
    }
    79% {
        bottom: 21%;
    }
    80% {
        bottom: 20%;
    }
    81% {
        bottom: 19%;
    }
    82% {
        bottom: 18%;
    }
    83% {
        bottom: 17%;
    }
    84% {
        bottom: 16%;
    }
    85% {
        bottom: 15%;
    }
    86% {
        bottom: 14%;
    }
    87% {
        bottom: 13%;
    }
    88% {
        bottom: 12%;
    }
    89% {
        bottom: 11%;
    }
    90% {
        bottom: 10%;
    }
    91% {
        bottom: 9%;
    }
    92% {
        bottom: 8%;
    }
    93% {
        bottom: 7%;
    }
    94% {
        bottom: 6%;
    }
    95% {
        bottom: 5%;
    }
    96% {
        bottom: 4%;
    }
    97% {
        bottom: 3%;
    }
    98% {
        bottom: 2%;
    }
    99% {
        bottom: 2%;
    }
    100% {
        bottom: 2%;
    }
}

#icon3 {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: flex-end;
}
.lastNames {
    display: none;
}
.lastNumbers {
    display: none;
}
#icon3Transform {
    display: grid;
    align-items: center;
    justify-items: flex-end;
}

#items {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: flex-start;
    align-items: center;
}
/* #endregion End of first container */

/* #region Start of container2 */

#container2 {
    grid-area: container2;
    background: linear-gradient(rgba(49, 49, 49, 0.5), rgba(102, 100, 100, 0.5)), url(./Images/MainBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#welcomeContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    width: 50%;
    height: 50%;
}

#headerSpan1 {
    color: white;
    display: grid;
    align-items: flex-end;
    justify-items: center;
    width: 100%;
    height: 100%;
    font-size: 4vh;
}
#header1 {
    text-align: center;
}

#turkish {
    color: rgb(255, 0, 0);
}

#explore {
    display: grid;
    width: 100%;
    justify-items: center;
}

#aSpan1 {
    color: black;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    display: grid;
    justify-items: center;
}


#a1 {
    display: grid;
    background-color: rgb(255, 68, 0);
    border: 1px solid black;
    color: black;
    outline: none;
    border-radius: 10px;
    width: 26.5%;
    height: 40%;
    align-items: center;
    justify-items: center;
}

/* #endregion Start of second container */

/* #region Start of container3*/

#container3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "aboutLeft aboutRight"
    ;
    background-color: rgb(247, 247, 247);
}

#aboutLeft {
    display: grid;
    grid-area: aboutLeft;
    grid-template-rows: 1.5fr 1fr 3fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    ". headerSpan2 headerSpan2"
    ". pSpan1 pSpan1"
    ". aSpan2 ."
    ;
}

#headerSpan2 {
    display: grid;
    grid-area: headerSpan2;
    align-items: flex-end;
    font-size: 2rem;
}

#us {
    color: coral;
    font-size: 8rem;
}

#pSpan1 {
    display: grid;
    grid-area: pSpan1;
    justify-items: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
}

#aSpan2 {
    display: grid;
    grid-area: aSpan2;
    justify-items: flex-start;
    align-items: flex-start;
}

#a2 {
    display: grid;
    background-color: rgb(255, 68, 0);
    border: 1px solid black;
    color: black;
    outline: none;
    border-radius: 10px;
    width: 70%;
    height: 10%;
    align-items: center;
    justify-items: center;
}



#aboutRight {
    display: grid;
    grid-area: aboutRight;
    grid-template-rows: 0.7fr 1.6fr 2fr;
    grid-template-areas:
    ". . "
    "imgSpan1 ."
    ". ."
    ;
}

#imgSpan1 {
    grid-area: imgSpan1;
    margin-left: 3vw;
    width: 80%;
}

#imgBorder {
    width: 100%;
    height: 100%;
    border: 7px solid rgb(255, 68, 0);
}

#img1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: translate(3rem, 3rem);
    transition: 1s;
}

#img1:hover {
    transform: none;
}

/* #endregion End of container3*/

/* #region Start of container4 */

#container4 {
    display: grid;
    grid-area: container4;
    background-color: rgb(201, 192, 192);
    grid-template-rows: 0.15fr 1fr;
    grid-template-areas:
    "ourStore"
    "productPics"
    ;
    justify-items: center;
    grid-gap: 5vh;
    margin-bottom: 5vh;
}

#ourStore {
    display: grid;
    grid-area: ourStore;
    width: 100%;
    height: 100%;
    justify-items: center;
    grid-template-rows: 0.25fr 0.3fr;
    grid-template-areas:
    "headerSpan3"
    "allButtons"
    ;
}

#headerSpan3 {
    display: grid;
    grid-area: headerSpan3;
    align-items: flex-end;
    height: 100%;
    font-size: 1.5rem;
}

#store2 {
    color: coral;
    font-size: 6rem;
}

#allButtons {
    display: grid;
    grid-area: allButtons;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.25fr 0.25fr;
    grid-template-areas:
    "a3Span a4Span a5Span a6Span"
    ". inputSpan1 inputSpan1 ."
    ;
    justify-items: center;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    grid-gap: 5vh;
}

.productButtons {
    height: 120%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.btnLastSpan {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}

.btnLast {
    height: 100%;
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    font-family: 'Dancing Script', cursive;
    padding: 0.5rem 1.5rem;
    outline: none;
    cursor: pointer;
}

.btnLast:hover {
    background-color: black !important;
    color: pink !important;
}

/* .btnLast:active, .btnLast:focus{
    background-color: black;
    color: red;
} */

#a3Span {
    grid-area: a3Span;
}
#a4Span {
    grid-area: a4Span;
}
#a5Span {
    grid-area: a5Span;
}
#a6Span {
    grid-area: a6Span;
}

#inputSpan1 {
    margin-top: 1.5vh;
    display: grid;
    grid-area: inputSpan1;
    justify-items: center;
    align-items: flex-start;
    outline: none;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "iconSpan1 input1 input1 input1"
    ;
}

#input1 {
    border: 1px solid black;
}

#input1 {
    width: 100%;
    height: 100%;
    grid-area: input1;
}

#iconSpan1 {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: flex-end;
    align-items: center;
    grid-area: iconSpan1;
}

#iconSearch {
    display: grid;
    width: 40%;
    height: 100%;
    background-color: coral;
    justify-items: center;
    align-items: center;
}

#productPics {
    display: grid;
    grid-area: productPics;
    width: 80%;
    height: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vh;
}

.product {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
    "imgProduct"
    "itemNames"
    ;
    transition: 1s;
    position: relative;
}

.imgProduct {
    grid-area: imgProduct;
    overflow: hidden;
}

.scale {
    width: 100%;
    height: 100%;
    position: relative;
    animation: scaleAnimation2 0.5s forwards;
}
.scale:hover{
    animation: scaleAnimation1 0.5s forwards;
}

@keyframes scaleAnimation1 {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.2);
    }
}
@keyframes scaleAnimation2 {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}

.shopIconSpan {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 10%;
    height: 18%;
    position: absolute;
    bottom: -10%;
    right: -10%;
    background-color: coral;
    border-top-left-radius: 10px;
    color: whitesmoke;
    font-size: 100%;
}

@keyframes shopAnimation1 {
    from {
        bottom: -10%;
        right: -10%;
    }
    to {
        bottom: 8%;
        right: 8%;
    }
}

@keyframes shopAnimation2 {
    from {
        bottom: 8%;
        right: 8%;
    }
    to {
        bottom: -10%;
        right: -10%;
    }
}

.itemNames {
    grid-area: itemNames;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "nameSpan priceSpan"
    ;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.nameSpan {
    display: grid;
    grid-area: nameSpan;
    justify-items: flex-start;
    margin-left: 2vh;
}

.lastItems {
    display: none;
    width: 100%;
}

.priceSpan {
    display: grid;
    grid-area: priceSpan;
    justify-items: flex-end;
    margin-right: 2vh;
}

#productPics img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #endregion Start of container4 */