body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-template-rows: 0.1fr 0.8fr;
    grid-template-areas: 
    ". . ."
    ". container0 ."
    ;
    justify-items: center;
    align-items: center;
    background-color: rgb(51, 94, 185);
}

#container0 {
    grid-area: container0;
    height: 100%;
    width: 100%;
    position: relative;
    display: flexbox;
    justify-items: center;
    align-items: center;
}

.items {
    grid-area: items;
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.newItems {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: 1fr;
    border: 2px solid rgb(36, 31, 31);
    margin-top: 1rem;
    transition: all 0.5s;
}
.item {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: flex-start;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.delete {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: flex-end;
    padding-right: 1rem;
    align-items: center;
    color: rgb(190, 32, 32);
    font-size: 1.2rem;
    transition: all 0.3s;
}
.delete:hover {
    font-size: 1.3rem;
}
#headerDiv {
    grid-area: headerDiv;
    height: 8rem;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(243, 234, 234);
    font-weight: bold;
}

#add {
    grid-area: add;
    height: auto;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.5fr 0.3fr 0.2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "inputDiv iconDiv buttonDiv"
    ;
}

#input {
    grid-area: inputDiv;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(131, 43, 34);
    font-size: 1rem;
    background-color: transparent;
    color: white;
}

#input::placeholder {
    color: white;
}

#iconDiv {
    height: 100%;
    width: 100%;
    grid-area: iconDiv;
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

#icon {
    display: grid;
    height: 100%;
    width: 150%;
    justify-content: center;
    align-items: center;
    background-color:  rgb(131, 43, 34);
    border: 2px solid  rgb(131, 43, 34);
    font-size: 1.7rem;
    color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

#icon:hover {
    border: 2px solid  rgb(131, 43, 34);
    background-color: white;
    color:  rgb(131, 43, 34);
}

#buttonDiv {
    display: grid;
    grid-area: buttonDiv;
    height: auto;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#button {
    width: auto;
    height: auto;
    font-size: 1rem;
    background-color:  rgb(131, 43, 34);
    outline: none;
    border: none;
    color: white;
    transition: all 0.3s;
    border-radius: 10%;
    border: 2px solid  rgb(131, 43, 34);
}

#button:hover {
    border: 2px solid  rgb(131, 43, 34);
    background-color: white;
    color:  rgb(131, 43, 34);
}